@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to CarSharing</h1>
    <img class="w-25" src="./Img/istockphoto-1304099238-612x612.jpg" alt="Logo CarSharing" />
</div>
